<h3>Create User</h3>
<div [hidden]="submitted" style="width: 400px;">
  <!-- <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="user.name" name="name">
    </div>


    <button type="submit" class="btn btn-success">Submit</button>

  </form> -->
  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="form-group">
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="Your name" id="name" [(ngModel)]="user.name" name="name">
    </mat-form-field>


  </form>
  <button type="submit" mat-raised-button color="primary">Submit</button>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newUser()">Add</button> -->
</div>